/* CSS für Hauptseite */

* {
  box-sizing: border-box;
  font-family: "Helvetica";
}

pre{
  font-family: "monospace"
}

h1 {
  color:  rgb(164, 186, 193);
}

header {
  background-color: lightblue;
  text-align: center;
  padding: 2px;
  font-size: 25px;
  color: white;
}

/* linker Balken */
/* nav umschliesst navigations-Elemente */
nav {
  float: left;
  width: 30%;
  height: 300px;
  background: #fff;
  padding: 20px;
}

/* Platzierung Liste (ul) linker Balken */
nav ul {
  list-style-type: none;
  padding: 0;
}

/* rechter Balken und platzierung Text */
article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 300px;
}

footer {
  background-color: rgb(164, 186, 193);
  padding: 10px;
  text-align: center;
  color: white;
}

section::after {
  content: "";
  display: table;
  clear: both;
}

/* unvisited link */
a:link {     
  color: blue;
}

/* visited link */
a:visited {
  color: blue;
}

/* mouse over link */
a:hover {
  color: green;
}
